h1 {
    height: 100px;
text-align: center;
    background-color: rgb(141, 35, 35);
}

h2 {
    height: 90px;
    width: 90%;
text-align: center;

    background-color: rgb(111, 0, 255);
}

h3 {
    height: 80px;
    width: 80%;
    text-align: center;
    background-color: rgb(55, 114, 84);
}